@model AccountRegisterVM

@{ViewBag.Title = "Register";}

<div id="digiMasterRub" style="font-size:42px;">Registrera ny lärare</div>
    <div>@Model.Message</div>
<form asp-controller="Home" asp-action="Register">
    <input asp-for="@Model.OldClassroomName" type="hidden"/>
    <br />
    @*<label asp-for="@Model.RegUsername"></label>*@
    <input asp-for="@Model.RegUsername" placeholder="Användarnamn" />
    <span asp-validation-for="@Model.RegUsername"></span>
    <br />
    @*<label asp-for="@Model.RegPassword"></label>*@
    <input asp-for="@Model.RegPassword" placeholder="Lösenord"/>
    <span asp-validation-for="@Model.RegPassword"></span>
    <br />
    @*<label asp-for="@Model.ClassroomName"></label>*@
    <input asp-for="@Model.ClassroomName" placeholder="Ange klassrumsnamn" />
    <span asp-validation-for="@Model.ClassroomName" placeholder="Ange klassrumsnamn"></span>
    <br />

    <input type="submit" value="Register" />
    <p>eller</p>
    <button>Gå till ditt klassrum</button>
</form>

@section scriptsSection {
    @Html.Partial("ValidationScript")
}
