@model AccountLoginVM

@{ViewBag.Title = "Login";}

<h1>Log In</h1>
<form asp-controller="Account" asp-action="Login">
    <label asp-for="@Model.Username"></label>
    <input asp-for="@Model.Username" />
    <span asp-validation-for="@Model.Username"></span>

    <label asp-for="@Model.Password"></label>
    <input asp-for="@Model.Password" />
    <span asp-validation-for="@Model.Password"></span>
    <br />

    <input type="submit" value="Log in" />
</form>


@section scriptsSection {
    @Html.Partial("ValidationScript")
}
