@*@model ClassroomStudentVM*@

<center><h1>Klassrum: @Model.CLassroom.Name</h1> </center> 

<div class="container">
    
        @Html.Partial("_StudentProblemBox")
        @Html.Partial("_StudentWaitingList")
        @Html.Partial("_StudentChatbox")
        @Html.Partial("_StudentInfoboxFromTeacher")
        
</div>
<div><input type="submit" value="Lämna rummet" /></div>