@model ClassroomDigiStudentVM

<center><h1>Klassrum</h1> </center> @Model.Classroom.Name

<div class="container">
    
        @Html.Partial("_StudentProblemBox")
        @Html.Partial("_StudentWaitingList")
        @Html.Partial("_StudentChatbox")
        @Html.Partial("_StudentInfoboxFromTeacher")
        
</div>